name: Deploy to K3s

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v3

    - name: Instalar kubectl
      run: sudo snap install kubectl --classic

    - name: Criar kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

    - name: Testar conexão com cluster
      run: kubectl get nodes

    - name: Aplicar arquivos Kubernetes
      run: kubectl apply -f .